* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

.container {
    margin-right: 20%;
    margin-left: 20%;
}


.header {
    margin: 0;
    background-color: rgb(239, 236, 229);
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;


}

#logo {
    text-align: center;

    margin-right: 30px;
}

#header-contato {
    display: flex;
    flex-direction: row;
    gap: 30px;

    margin-top: 150px;
    margin-left: 40px;
}

#header-contato a {
    color: #645555;
    text-decoration: none;
}

#social {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 150px;
    margin-right: 40px;
}

#menu-info {
    width: 285px;
    height: auto;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    border-radius: 16px;
    background-color: rgb(239, 236, 229);
    padding: 15px;
    color: #645555;

    margin-top: 100px;

}

#menu-text {
    display: flex;
    margin-top: 20px;
    gap: 20%;
}

#menu-text p {
    font-size: 22px;
}

#menu-text img {
    width: 290px;
    height: auto;
}

#menu-produtos {
    width: 100%;
    height: auto;
    font-size: 30px;
    background-color: rgb(239, 236, 229);
    border-radius: 16px;
    text-align: center;
    padding: 10px;
    color: #645555;

    margin-top: 200px;
}

#linha-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 80px;
    margin-top: 30px;


}

#linha-2 {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 50px;

}

#layout-produtos {
    display: flex;
    flex-direction: column;

    width: 167px;
    height: auto;
    border-radius: 16px;
    border: none;
    gap: 10px;
    background-color: rgb(239, 236, 229);
    padding: 15px;
    align-items: center;
    margin-top: 20px;
}

#layout-produtos img {
    width: 120px;
    height: 262px;
}

#layout-produtos button {
    width: 100px;
    height: auto;
    border-radius: 15px;
    padding: 10px;
    background-color: #B59494;
    font-size: 15px;
    font-weight: 700;
    color: white;
    border: none;

}

#layout-produtos h2 {
    color: #645555;
}

#inf-flex {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 200px;
    margin-top: 200px;
}

#inf-layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#inf-img {
    color: #645555;
}



form {
    display: flex;
    flex-direction: column;
    border: 1px solid #a3a3a3;
    margin-top: 200px;
    margin-bottom: 200px;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 10px 0;

}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 336px;
    height: 50px;
    background-color: rgb(239, 236, 229);
    border-radius: 16px;
    font-size: 30px;
    font-weight: 800;
    color: #645555;
    margin-bottom: 30px;
}

form input {
    margin-bottom: 40px;
    width: 555px;
    height: auto;
    border-radius: 16px;
    background-color: rgb(239, 236, 229);
    border: none;
    text-align: start;
    font-size: 20px;
    padding: 30px;

}

form button {
    width: 165px;
    height: auto;
    border-radius: 16px;
    background-color: rgb(239, 236, 229);
    border: none;
    font-size: 20px;
    padding: 15px;

}

#form-layout {
    display: flex;
    justify-content: center;

}

.footer {
    background-color: rgb(239, 236, 229);
    padding: 30px;
}

#layout-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 350px;
}

#text-foot img {
    width: 33px;
    height: auto;
}

#text-foot h4 {
    font-size: 20px;
    color: #645555;
    margin-top: 20px;
}

#text-foot p {
    font-size: 20px;
    margin-top: 5px;

}

footer {
    background-color: #B59494;
    padding: 20px;
}

#direitos {
    text-align: center;
    color: #544242;
    font-size: 20px;
    font-weight: 800;
}

button:hover {
    cursor: pointer;
    background-color: #aaa6a6;
    transform: translateY(-5px);
    transition-duration: 0.3s;
}

a:hover {
    transform: translateY(-5px);
    transition-duration: 0.3s;
}

.modal {
    display: none;
    /* escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

/* Caixa do modal */
.modal-layout {
    background: rgb(239, 236, 229);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;

    text-align: center;
    position: relative;
    gap: 16px;
}

.modal-layout h3 {
    font-size: 20px;
}

.modal-layout p {
    font-size: 14px;
    margin-top: 15px;
}

.modal-layout img {
    margin-bottom: 15px;
    max-width: 100%;
    border-radius: 8px;
}

/* Botão fechar */
.fecha {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    color: #333;
}


/* Tablets */
@media (max-width: 1024px) {

    .container {
        margin-left: 10%;
        margin-right: 10%;
    }

    #header-contato {
        display: none;
    }


    .header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
        padding: 10px;
        margin: 0px;
    }

    #header-contato,
    #social {
        flex-direction: row;
        margin: 30px 0 0 0;
        justify-content: center;
    }

    #menu-text {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    #menu-info {

        margin-bottom: 5%;
    }

    #linha-1 {

        gap: 50px;
    }

    #linha-2 {
        gap: 80px;

    }

    #inf-flex {
        flex-direction: column;
        gap: 80px;
        align-items: center;
    }

    form input {
        width: 82%;
    }

    #layout-foot {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    #text-foot {
        text-align: center;
    }


}


/* Celulares */
@media (max-width: 768px) {

    .header {

        gap: 10px;
        margin: 0;
    }

    #logo img {
        width: 150px;
        height: auto;
        margin-left: 35px;
    }

    #header-contato {
        flex-direction: column;
        gap: 15px;
        margin: 0;
    }

    #social {
        margin: 20px 0 0 0;
        gap: 20px;
    }

    #menu-info {
        width: 90%;
        font-size: 22px;
        margin-top: 60px;
    }

    #menu-text {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    #menu-text img {
        width: 100%;
        max-width: 280px;
    }

    #menu-produtos {
        width: 93%;


        margin-top: 150px;
    }



    #linha-1 {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    #linha-2 {
        flex-direction: column;
        gap: 40px;
        align-items: center;

    }



    #inf-flex {
        flex-direction: column;
        align-items: center;
        gap: 60px;
        margin-top: 100px;
    }

    form {
        width: 90%;
        margin: 100px auto;
        padding: 15px;
    }

    label {
        width: 100%;
        font-size: 24px;
    }

    form input {
        width: 85%;
        font-size: 18px;
        padding: 20px;
    }

    form button {
        width: 100%;
        font-size: 18px;
    }

    #layout-foot {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    #text-foot h4,
    #text-foot p {
        font-size: 18px;
    }

    footer {
        padding: 15px;
    }

    #direitos {
        font-size: 16px;
    }

    .modal-layout {
        width: 70%;
        height: auto;
    }

    .modal-layout h3 {
        font-size: 15px;
    }

    .modal-layout p {
        font-size: 9px;
        margin-top: 15px;
    }
}